# # используется для комментария 
# / символ в начале строки указывает на текущую папку ( где лежит .gitignore )

# Если используется среда разработки 
/.idea

# Для удаления папки используемых композером
/vendor

